.color-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 8px;
    border: 2px solid #d8d8d8;
}
.disabledButton{
    cursor: not-allowed;
    opacity: 0.5;
    /* background-color: red; */
}